 - importing pandas and
 - pathlib: for importing dataset from desktop

In [35]:
import pandas as pd
import pathlib as path

- Reading csv file

In [36]:
df = pd.read_csv(r'C:\Users\Punnaiah jvs\OneDrive\Desktop\SQL\filteredcsv\vgdata.csv')
df

,Name,Platform,Year,Genre,Publisher
0,Wii Sports,Wii,2006,Sports,Nintendo
1,Super Mario Bros.,NES,1985,Platform,Nintendo
2,Mario Kart Wii,Wii,2008,Racing,Nintendo
3,Wii Sports Resort,Wii,2009,Sports,Nintendo
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo
...,...,...,...,...,...
3216,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015,Misc,Nintendo
3217,Imagine Figure Skater (JP sales),DS,2007,Sports,Ubisoft
3218,Bust-A-Move 3000,GC,2003,Puzzle,Ubisoft
3219,Myst IV: Revelation,PC,2004,Adventure,Ubisoft
3220,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision

- cleaning data: At first year is defined as float value ,but it is wrong.
so i changed it to INT 
- finding data types

In [37]:
df['Year'] = df['Year'].fillna(0).astype(int)
df.dtypes

Name         object
Platform     object
Year          int32
Genre        object
Publisher    object
dtype: object

Filling nan values in all columns

In [38]:

df[df.columns].fillna(0, inplace=True)

filling nan values for column in string format : here for publisher column

In [39]:
df.Publisher = df.Publisher.fillna('')

Cheching count of nan values column vise

In [40]:
df.isnull().sum(axis = 0)

Name         0
Platform     0
Year         0
Genre        0
Publisher    0
dtype: int64

Max len of a particular column: Here for col "Name"

In [41]:
print(max(df.Name.apply(len)))

124

connecting Database to pandas

In [42]:
import pymysql

# Connect to the database
connection = pymysql.connect(host='localhost',
                         user='root',
                         password='21081995',
                         db='portfolio1')

# create cursor
cursor=connection.cursor()

- Inserting Data From csv to sql table

In [43]:
# creating column list for insertion
cols = "`,`".join([str(i) for i in df.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in df.iterrows():
    sql = "INSERT INTO `vgdata` (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()

loading second data set into sql server

In [44]:
df1 = pd.read_csv(r'C:\Users\Punnaiah jvs\OneDrive\Desktop\SQL\filteredcsv\vgsalesdata.csv')
df1

      US_Sales  EU_Sales  Asia_Sales  Global_Sales
0        41.49     29.02        3.77         82.74
1        29.08      3.58        6.81         40.24
2        15.85     12.88        3.79         35.82
3        15.75     11.01        3.28         33.00
4        11.27      8.89       10.22         31.37
...        ...       ...         ...           ...
3216      0.00      0.00        0.01          0.01
3217      0.00      0.00        0.01          0.01
3218      0.01      0.00        0.00          0.01
3219      0.01      0.00        0.00          0.01
3220      0.00      0.00        0.00          0.01

[3221 rows x 4 columns]

In [45]:
df1.isnull().sum(axis = 0)

US_Sales        0
EU_Sales        0
Asia_Sales      0
Global_Sales    0
dtype: int64

In [46]:
df1.dtypes

US_Sales        float64
EU_Sales        float64
Asia_Sales      float64
Global_Sales    float64
dtype: object

In [47]:
# creating column list for insertion
cols1 = "`,`".join([str(i) for i in df1.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in df1.iterrows():
    sql = "INSERT INTO `vgsalesdata` (`" +cols1 + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()

In [48]:
df.to_csv(r'videogamesdata.csv')
df1.to_csv(r'videogamesalessdata.csv')